aiohttp==3.7.4.post0
aiosqlite==0.17.0
irc==19.0.1
jinja2==2.11.3
lxml==4.6.3
obs-websocket-py==0.5.3
pillow==8.2.0
pyinstaller==4.3
pyinstaller_versionfile==2.0.0
PySide2==5.15.2
requests==2.25.1
tinytag==1.5.0
urllib3==1.26.4
watchdog==2.1.2
