aiohttp==3.8.3
aiosqlite==0.17.0
diskcache==5.4.0
irc==20.1.0
jinja2==3.1.2
lxml==4.9.1
netifaces==0.11.0
nltk==3.7
musicbrainzngs==0.7.1
netifaces==0.11.0
normality==2.4.0
obs-websocket-py==0.5.3
pillow==9.2.0
pip-upgrader
psutil==5.9.2
pyacoustid==1.2.2
pyinstaller==5.2.0
pyinstaller_versionfile==2.0.0
PySide6==6.3.2
pytest==7.2.0
pytest-asyncio==0.20.2
pytest-cov==4.0.0
pytest-httpserver==1.0.6
pytest-qt==4.2.0
requests==2.28.1
requests-cache==0.9.3
Sphinx==5.2.1
tinytag==1.8.1
urllib3==1.26.12
vendoring==1.2.0
watchdog==2.1.9

#
# audio-metadata and tbm-utils
#
attrs>=18.2
bidict==0.*
bitstruct>=6.0,<9.0
more-itertools>=4.0,<9.0
pendulum>=2.0,<=3.0,!=2.0.5,!=2.1.0  # Work around https://github.com/sdispater/pendulum/issues/454
pprintpp==0.*
wrapt==1.14.1

#
# discogs_client
#
oauthlib==3.2.1
